@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rozha";
  src: url("/Gambarino-Regular.otf");
  /* src: url("/Archivo-Variable.ttf"); */
  /* src: url("/Lighthaus.woff"); */
}
html {
  scroll-behavior: smooth;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  @apply bg-cream;
}

.underline-hover::before {
  content: "";
  background-color: #152705;
  position: absolute;
  height: 2px;
  bottom: -5px;
  right: 100%;
  left: 0;
  transition: all 300ms ease-out;
}
.underline-hover:hover::before {
  right: 0;
}
